<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groceryshopper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_shopping_basket"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroceryShopper">
        <activity android:name=".view.ResetPasswordActivity"></activity>
        <activity android:name=".view.UserDetailActivity" />
        <activity android:name=".view.UserProfileActivity" />
        <activity android:name=".view.CartActivity" />
        <activity android:name=".view.ProductDetailActivity" />
        <activity android:name=".view.ProductActivity" />
        <activity android:name=".view.SubCategoryActivity" />
        <activity
            android:name=".view.CategoryActivity"
            android:theme="@style/Theme.GroceryShopper.Overlay" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>